#attributes {
	@extend .table;
	@extand .table-condensed;
	width: 65%;

	th {
	  width: 35%;
	}

	tr:first-child {
	  td, th {
	    border-top: 0px;
	  }
	}

	td, th {
	  line-height: 24px !important;
	}
}